<a href="https://colab.research.google.com/github/2303A51817/ADM/blob/main/data_mining_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df =pd.read_csv('/content/employee_data.csv')
print(df)

    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [5]:
df.describe()

,Employee_ID,Age,Salary,Job_Satisfaction,Work_Hours_Per_Week
count,50.00000,45.000000,45.000000,40.000000,50.000000
mean,1025.50000,39.177778,72349.200000,5.550000,44.720000
std,14.57738,10.869659,26170.218818,2.726414,9.722769
min,1001.00000,23.000000,31016.000000,1.000000,30.000000
25%,1013.25000,30.000000,52662.000000,3.000000,36.000000
50%,1025.50000,39.000000,70757.000000,6.000000,46.000000
75%,1037.75000,47.000000,92592.000000,7.000000,53.750000
max,1050.00000,59.000000,119812.000000,10.000000,59.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          50 non-null     int64
 1   Age                  45 non-null     float64
 2   Salary               45 non-null     float64
 3   Job_Satisfaction     40 non-null     float64
 4   Work_Hours_Per_Week  50 non-null     int64
dtypes: float64(3), int64(2)
memory usage: 2.1 KB

In [7]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [8]:
df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [ ]:
df['Work_Hours_Per_Week'].mean()

In [ ]:
df['Salary	'].mean()

In [ ]:
df['Salary'].mode()

In [ ]:
df['Work_Hours_Per_Week'].mode()

In [ ]:
df['Job_Satisfaction'].mode()

In [ ]:
df['Job_Satisfaction'].median()

In [ ]:
df['Work_Hours_Per_Week'].median()

In [ ]:
df['Salary'].median()

In [ ]:
df['Job_Satisfaction'] = df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean())

In [ ]:
df['Work_Hours_Per_Week'] =df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean())

In [ ]:
df['Salary'] =df['Salary'].fillna(df['Salary'].mean())

In [ ]:
df

In [10]:
print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler = MinMaxScaler()

In [14]:
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

In [ ]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [ ]:
df[['Job_Satisfaction']] = s_scaler.fit_transform(df[[ 'Job_Satisfaction']])

In [15]:
df['Job_Satisfaction']

0      9.0
1      8.0
2      2.0
3      1.0
4      7.0
5      7.0
6      NaN
7      5.0
8      3.0
9      8.0
10     6.0
11     NaN
12     NaN
13     1.0
14     3.0
15     5.0
16     3.0
17     1.0
18     5.0
19    10.0
20     7.0
21     7.0
22     NaN
23     9.0
24    10.0
25     NaN
26     3.0
27     7.0
28     1.0
29     4.0
30     4.0
31     NaN
32     7.0
33     7.0
34     NaN
35     4.0
36     7.0
37     NaN
38     3.0
39     6.0
40     2.0
41    10.0
42     9.0
43     5.0
44     6.0
45     4.0
46     NaN
47     NaN
48     7.0
49     9.0
Name: Job_Satisfaction, dtype: float64

In [ ]:
df[['Work_Hours_Per_Week']] = s_scaler.fit_transform(df[[ 'Work_Hours_Per_Week']])

In [16]:
df['Work_Hours_Per_Week']

0     36
1     59
2     30
3     30
4     54
5     56
6     59
7     54
8     49
9     42
10    38
11    32
12    36
13    35
14    37
15    56
16    38
17    59
18    34
19    30
20    48
21    39
22    41
23    53
24    44
25    56
26    51
27    53
28    38
29    49
30    46
31    59
32    46
33    55
34    49
35    41
36    59
37    36
38    31
39    32
40    46
41    34
42    46
43    53
44    46
45    56
46    46
47    31
48    31
49    57
Name: Work_Hours_Per_Week, dtype: int64

In [17]:
df['Work_Hours_Per_Week'] = (df['Work_Hours_Per_Week'] - df['Work_Hours_Per_Week'].mean()) / df['Work_Hours_Per_Week'].std()

In [18]:
df

    Employee_ID       Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  0.750000  0.877708               9.0            -0.896864
1          1002  0.361111  0.585375               8.0             1.468717
2          1003  0.166667  0.447554               2.0            -1.513972
3          1004  0.527778  0.097707               1.0            -1.513972
4          1005  0.472222  0.503874               7.0             0.954461
5          1006  0.583333  0.804011               7.0             1.160163
6          1007  0.250000       NaN               NaN             1.468717
7          1008  0.250000  0.728422               5.0             0.954461
8          1009  0.611111  0.405975               3.0             0.440204
9          1010  0.944444       NaN               8.0            -0.279756
10         1011  0.611111  0.118451               6.0            -0.691161
11         1012       NaN  0.443500               NaN            -1.308269
12         1013  0.555556  0.000000               NaN            -0.896864
13         1014  0.000000  0.999741               1.0            -0.999715
14         1015  0.611111  0.614611               3.0            -0.794012
15         1016  0.777778  1.000000               5.0             1.160163
16         1017  1.000000  0.250360               3.0            -0.691161
17         1018  0.000000  0.262219               1.0             1.468717
18         1019  0.527778  0.822661               5.0            -1.102567
19         1020  0.861111  0.921010              10.0            -1.513972
20         1021  0.277778  0.092932               7.0             0.337352
21         1022  0.555556  0.966158               7.0            -0.588310
22         1023  0.638889  0.125783               NaN            -0.382607
23         1024  0.694444  0.705978               9.0             0.851609
24         1025  0.722222       NaN              10.0            -0.074053
25         1026  0.388889  0.428882               NaN             1.160163
26         1027  0.361111       NaN               3.0             0.645907
27         1028  0.027778  0.417001               7.0             0.851609
28         1029  0.972222  0.565318               1.0            -0.691161
29         1030  0.138889  0.678094               4.0             0.440204
30         1031       NaN  0.540205               4.0             0.131650
31         1032  0.194444  0.447745               NaN             1.468717
32         1033  0.444444  0.017478               7.0             0.131650
33         1034  0.055556  0.693455               7.0             1.057312
34         1035       NaN  0.749437               NaN             0.440204
35         1036  0.333333  0.018909               4.0            -0.382607
36         1037  0.194444  0.531263               7.0             1.468717
37         1038  0.666667  0.047772               NaN            -0.896864
38         1039  0.000000       NaN               3.0            -1.411121
39         1040       NaN  0.433443               6.0            -1.308269
40         1041  0.722222  0.361987               2.0             0.131650
41         1042  0.138889  0.146065              10.0            -1.102567
42         1043  0.166667  0.685189               9.0             0.131650
43         1044  0.916667  0.131200               5.0             0.851609
44         1045  0.333333  0.423938               6.0             0.131650
45         1046  0.416667  0.028661               4.0             1.160163
46         1047  0.944444  0.290982               NaN             0.131650
47         1048  0.055556  0.714998               NaN            -1.411121
48         1049  0.000000  0.576997               7.0            -1.411121
49         1050       NaN  0.243772               9.0             1.263015

In [9]:
df['Job_Satisfaction'].mean()

5.55